.movie-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.backdrop-Div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-position: center center;
  background-size: cover;
}
